$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$quaternary-color:#FA9500;
$font-stack: 'IBM Plex Sans' , sans-serif;

@mixin flexCenter($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle{
    button {
        background: none;
        border-style: none;
    }
}
body {
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}
nav {
    @include flexCenter(row, space-between, center);
    width: auto;
    padding: 16px;
    color: $primary-text-color;
    p {
        font-size: 1.5em;
        padding-left: 32px;
    }
    .icons {
        display: flex;
        gap: 16px;
        @include buttonStyle;
    }
}

article {
    width: auto;
    @include flexCenter(row, space-between, null);
    color: $primary-text-color;
    padding: 70px 45px 0 45px;
    .impact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 50px;
        gap: 12px;
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1.5em;
        }
        button {
            width: 12vw;
            color: white;
            font-size: 1em;
            background-color: #FA9500;
            border-style: none;
            border-radius: 32px;
            padding: 20px;
            transition: 0.3s ease;
            &:hover {
                transform: scale(1.1);
                transition-duration: 0.3s;
            }    
        }
    }
    .image-section {
        img {
            width: 25vw;
            border-radius: 20px;
        }
    }
}

section {
    width: auto;
    height: auto;
    padding: 40px;
    h2 {
        color: $primary-text-color;
        font-size: 2em;
        padding: 48px 0 48px 48px;
        font-weight: 400;
    }
    .healtcare {
        .card-section {
            width: auto;
            height: auto;
            @include flexCenter(row,center,center);
            flex-wrap: wrap;
            column-gap: 200px;
            row-gap: 80px;
            .product-card {
                display: flex;
                flex-direction: column;
                width: 15vw;
                height: auto;
                gap: 16px;
                color: $primary-text-color;
                padding: 16px;
                background-color: $secundary-color;
                border-radius: 8px; 
                .icon {
                    display: flex;
                    justify-content: flex-end;
                }
                .product-image{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: auto;
                    margin: auto;
                    img {
                        width: 12vw;
                        height: auto;
                        border-radius: 8px;
                        object-fit: cover;
                    }
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    text-align: start;
                    gap: 12px;
                    h3 {
                        margin: 0;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }

    }

    .furniture {
        @extend .healtcare;
        .card-section{
            .product-card {
                background-color: $tertiary-color;
                color: white;
            }
        }
    }

    .about-us {
        h2 {
            font-weight: bold;
            padding-bottom: 60px;
        }
        .mission-section {      
            @include flexCenter(row, space-evenly, center);
            .earth {
                width: 30vw;
                display: flex;
                gap: 40px;
                color: #e86424;
                padding-bottom: 60px;
                img {
                    object-fit: contain;
                }
                p{
                    text-align: center;
                    font-size: 1.5em;
                }
            }

            .innovation {
              @extend .earth;
            }
        }
    }
    .gallery {
        h2 {
            font-weight: bold;
            padding-bottom: 60px;
        }
        .gallery-images {
            @include flexCenter(row, space-between, center);
            img{
                width: 28vw;
                height: 45vh;
                object-fit: cover;
                object-position: 5px 35%;
                border-radius: 16px;
                transition: 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                    transition-duration: 0.3s;
                }
            }

        }
    }
    .location {
        color: #e86424;
        h2 {
            padding-bottom: 50px;
            padding-top: 50px;
        }
        .map {
            @include flexCenter(row,center,center);
            padding-bottom: 50px;
        }
        h3, p {
            font-size: 1.5em;
        }
    }
}
footer {
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    padding: 40px;
    height: 250px;
    color: white;
    .social-media {
        @include flexCenter(row, center, center);
        gap: 40px;
        padding-bottom: 40px;
    }
}